:root {
  --broken: rgb(216, 143, 9);
  --broken-hover: rgb(255, 166, 0);
}

.ListedGame {
  width: 70%;
  max-width: 600px;

  background-color: rgb(33, 33, 33);
  border-radius: 5px;
  margin: 5px;
  text-align: left;
  cursor: pointer;
  font-size: min(4vw, 30px);
  position: relative;
}
.GameList {
  text-align: -webkit-center;
}
.ListedGame:hover {
  background-color: #4b4b4b;
}
.ListedGame:hover {
  background-color: #777777;
  transform: scale(1.05, 1.05);
}
.GameIcon {
  width: min(4em, 60px);
  height: min(4em, 60px);
  margin: 5px;
  display: inline-block;
  border-radius: 3px;
}
.VersionNumber {
  font-size: 0.7em;
  display: inline-block;
  color: white;
  font-family: "Arimo";
  margin-left: 5px;
  height: 50%;
  position: absolute;
  bottom: 0px;
}
.GameDownloads {
  color: white;
  font-size: 17;
  font-family: "Roboto";
  position: absolute;
  left: 130;
  top: 85;
}
.GameVersionNumber {
  font-size: 25px;
  top: 60;
  display: inline-block;
  color: white;
  font-family: "Arimo";
  margin-bottom: 20px;
  vertical-align: text-bottom;
  margin-left: 5px;
  position: absolute;
}
.GameName {
  color: white;
  font-family: "Roboto";
  vertical-align: top;
  margin-top: 0.5em;
  display: inline-block;
}

.BrokenGame {
  background-color: var(--broken);
  position: relative;
}
.BrokenGame::before {
  content: "Broken!";
  color: white;
  border: solid 2px white;
  position: absolute;
  padding: min(0.5em, 4px) 0.5em;
  right: 10%;
  font-size: 0.7em;
  top: 50%;
  font-family: "Roboto";
  border-radius: 9px;
  transform: translateY(-50%);
}
.BrokenGame:hover {
  background-color: var(--broken-hover);
}

.BrokenGame:hover::before {
  content: "Broken!";
  background-color: white;
  color: var(--broken-hover);
}
