body {
  margin: 0px;
  background: url(cubes.jpg);
}

h1 {
  background-color: white;
  font-family: "Poppins";
  margin: 5px;
  margin-top: 0px;
  position: fixed;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 35px;
  top: 0px;
  width: 100%;
  z-index: 1;
}
