body {
  margin: 0px;
  background: url(cubes.jpg);
}

h1 {
  position: fixed;
  top: 5px;
  width: fit-content;
  padding: 1px 20px;

  background-color: #ffffff45;
  font-family: "Poppins";

  text-align: center;
  font-size: 35px;

  border-radius: 40px;
  display: inline-block;
  z-index: 1;
}
.sideNote {
  right: 0px;
  padding: 5px;
  background-color: grey;
  width: 180;
  position: absolute;
  top: 54;
  margin: 5px;
  color: white;
  font-family: -webkit-pictograph;
  text-align: center;
}
