body {
  margin: 0px;
  background: url(cubes.jpg);
}

h1 {
  background-color: white;
  font-family: "Poppins";
  margin: 5px;
  margin-top: 0px;
  position: fixed;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 35px;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.sideNote {
  right: 0px;
  padding: 5px;
  background-color: grey;
  width: 180;
  position: absolute;
  top: 54;
  margin: 5px;
  color: white;
  font-family: -webkit-pictograph;
  text-align: center;
}
